.ads-competitor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #2b2b2b;

  &__info {
    flex: 1 1 auto;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-right: 0px;

    img {
      width: 100px;
      height: 100px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }

  &__data {
    color: #cf3;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }

  &__rank {
    font-size: 20px;
    color: #cf3;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
}
