.competition-investment{

  &__data {
    font-size: 30px;
    color: #cf3;
    margin: 10px 0px;
    font-weight: bold;
  }

  &__item {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 165px;

    img {

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin: 10px 0px;
      position: absolute;
      bottom: 0;

    }
  }


}
