.hastag-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__item {
    background-color: #CF3;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      background-color: #CF3;
      color: #363737;
    }
    &:nth-child(2) {
      background-color: #4fabe6;
    }
    &:nth-child(3) {
      background-color: #e2474f;
    }
    &:nth-child(4) {
      background-color: #3cc453;
    }
    &:nth-child(5) {
      background-color: #f79a3a;
    }

    &:nth-child(1),
    &:nth-child(2) {
      -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      height: 135px;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      height: 100px;

    }

  }

}
