.header,
.headerBrand,
.headerSocial {
  height: 80px; }

.header {
  background-color: #2A2A2A;
  border-bottom: 3px solid #CF3; }

.headerBrandImage {
  cursor: pointer; }
  .headerBrandImage img {
    height: 60px; }

.headerBrandAvatar {
  border-radius: 50%;
  width: 60px; }

.headerUser {
  float: left;
  margin: 0 10px;
  text-align: right; }
  .headerUserUsername {
    font-size: 15px;
    color: #FFF;
    font-weight: bold;
    width: 100%; }
  .headerUserAvatar {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0px 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    background-color: #3a3a3a; }

.headerSponsorLogo {
  width: 56px; }

.cursorPointer {
  cursor: pointer; }
