.engagement {
  text-align: center;
  margin-bottom: 1rem; }
  .engagement-main {
    display: inline-block;
    vertical-align: top;
    width: 50%; }
    .engagement-main__title {
      color: #CF3;
      margin-top: 0;
      margin-bottom: .5rem; }
    .engagement-main__data {
      font-weight: bold; }
