.engagement {
  text-align: center;
  margin-bottom: 1rem;

  &-main {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    &__title {
      color: #CF3;
      margin-top: 0;
      margin-bottom: .5rem;
    }

    &__data {
      font-weight: bold;
    }

  }
}
