.brands-added {
  padding: 15px 15px 0; }
  .brands-added__title {
    display: inline-block;
    width: auto;
    font-weight: bold;
    color: #636363;
    text-align: left; }
  .brands-added__button {
    float: right; }
