.brands-added {

  padding: 15px 15px 0;

  &__title {
    display: inline-block;
    width: auto;
    font-weight: bold;
    color: #636363;
    text-align: left;
  }

  &__button {
    float: right;
  }

}
