.postContainer {
  position: relative;
  width: 416px;
  height: 521px !important;
  display: inline-block;
  margin: 5px;
  background: #363737;
  vertical-align: top; }

.postIcon {
  width: 0;
  height: 0;
  border-right: 15px solid #ababab;
  border-top: 15px solid #ababab;
  border-left: 15px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  right: 0;
  top: 0;
  position: absolute !important;
  margin: 0 !important; }
  .postIcon i {
    color: #2a2a2a;
    position: relative;
    bottom: 15px;
    left: 0px;
    font-size: 13px; }

.postImage {
  width: 226px;
  height: 226px;
  vertical-align: top;
  overflow: hidden;
  background: url(../../../assets/img/logo.png) no-repeat center center;
  background-color: #2A2A2A;
  background-size: 20px 20px;
  display: flex;
  float: left;
  align-items: center; }
  .postImage img {
    width: 100%; }

.postExtras {
  width: calc(100% - 226px);
  padding: 0;
  display: inline-block;
  height: 226px;
  float: right;
  text-align: center;
  padding-left: 22px; }
  .postExtrasEngagment {
    margin-bottom: 26px; }
    .postExtrasEngagment h6 {
      font-size: 13px;
      font-weight: bold;
      color: #CF3;
      margin-bottom: 0; }
    .postExtrasEngagment p {
      font-weight: lighter;
      font-size: 16px;
      color: #BABABA;
      margin-top: 8px; }
  .postExtrasCategory .react-select-container {
    color: #636363;
    font-size: 12px; }
  .postExtrasCategory .react-select__control {
    background-color: #2A2A2A;
    border: 0;
    box-shadow: none; }
  .postExtrasCategory .react-select__indicator-separator {
    background-color: transparent; }
  .postExtrasCategory .react-select__single-value {
    color: #CF3; }
  .postExtrasCategory .react-select__indicator {
    color: #CF3; }
    .postExtrasCategory .react-select__indicator > svg {
      width: 15px; }
  .postExtrasCategory .react-select__option:hover {
    background: #e8e8e8; }

.postInsightsInfo {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 5px 0px; }
  .postInsightsInfo .postDataItem {
    width: -webkit-calc(33.333%);
    width: calc(33.333%);
    display: inline-block;
    float: left;
    padding: 2.5px; }
  .postInsightsInfo h5 {
    font-weight: bold;
    color: #CF3 !important;
    text-transform: uppercase;
    margin-bottom: 0; }
  .postInsightsInfo:nth-child(2n) {
    text-align: right; }
    .postInsightsInfo:nth-child(2n) .postInsightsData {
      border-left: 1px solid #BABABA;
      width: 100%;
      height: 100%;
      display: inline-block; }

.postDataInfo {
  font-weight: lighter;
  font-size: 16px;
  color: #BABABA;
  margin-bottom: 0; }

.postDataTitle {
  font-weight: lighter;
  font-size: 10px !important;
  color: #636363; }

.postDate {
  text-align: right;
  font-weight: bold;
  color: #636363;
  margin-bottom: 10px;
  position: relative; }
  .postDate .logoSmartPost {
    width: 20px;
    position: absolute;
    left: 0; }

.postMessage {
  height: 68px; }
  .postMessageParrafo {
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
    color: #636363;
    text-align: left;
    width: 100%;
    margin: 10px 0px;
    padding: 0; }
  .postMessageHashtag {
    color: #CF3 !important; }

.posts {
  width: 100%;
  height: calc(100vh - 163px); }

.postsContainer {
  width: 100%;
  height: 100%; }

.postsContainerRow {
  display: flex; }
  .postsContainerRow::before {
    content: '';
    border: none;
    padding: 0;
    margin: 0 auto 0 0; }
  .postsContainerRow .postContainer {
    margin: 0 auto 0 0; }

.post-topContainer::after {
  content: "";
  display: table;
  clear: both; }
