.postContainer {
  position: relative;
  width: 416px;
  height: 521px !important;
  display: inline-block;
  margin: 5px;
  background: #363737;
  vertical-align: top;
}

.postIcon {
  width: 0;
  height: 0;
  border-right: 15px solid #ababab;
  border-top: 15px solid #ababab;
  border-left: 15px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  right: 0;
  top: 0;
  position: absolute !important;
  margin: 0 !important;

  i {
    color: #2a2a2a;
    position: relative;
    bottom: 15px;
    left: 0px;
    font-size: 13px;
  }
}

.postImage {
  // display: inline-block;
  width: 226px;
  height: 226px;
  vertical-align: top;
  overflow: hidden;
  background: url(../../../assets/img/logo.png) no-repeat center center;
  background-color: #2A2A2A;
  background-size: 20px 20px;
  display: flex;
  float: left;
  align-items: center;

  img {
    width: 100%;
  }
}


.postExtras {
  width: calc(100% - 226px);
  padding: 0;
  display: inline-block;
  height: 226px;
  float: right;
  text-align: center;
  padding-left: 22px;

  &Engagment {
    margin-bottom: 26px;

    h6 {
      font-size: 13px;
      font-weight: bold;
      color: #CF3;
      margin-bottom: 0;
    }
    p {
      font-weight: lighter;
      font-size: 16px;
      color: #BABABA;
      margin-top: 8px;
    }
  }

  &Category {

    .react-select {

      &-container {
        color: #636363;
        font-size: 12px;
      }

      &__control {
        background-color: #2A2A2A;
        border: 0;
        box-shadow: none
      }

      &__indicator-separator {
        background-color: transparent;
      }

      &__single-value {
        color: #CF3;
      }

      &__indicator {
        color: #CF3;

        > svg {
          width: 15px;
        }
      }

      &__option:hover {
        background: #e8e8e8;
      }

    }

  }
}



.postInsights {
  //
  &Info {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 5px 0px;

    .postData {
      //
      &Item {
        width: -webkit-calc(33.333%);
        width: calc(33.333%);
        display: inline-block;
        float: left;
        padding: 2.5px;
      }
    }

    h5 {
      font-weight: bold;
      color: #CF3 !important;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    &:nth-child(2n){

      text-align: right;

      .postInsightsData {
        border-left: 1px solid #BABABA;
        width: 100%;
        height: 100%;
        display: inline-block;
      }

    }
  }

}

.postData {

  &Info {
    font-weight: lighter;
    font-size: 16px;
    color: #BABABA;
    margin-bottom: 0;
  }

  &Title {
    font-weight: lighter;
    font-size: 10px !important;
    color: #636363;
  }

}

.postDate {
  text-align: right;
  font-weight: bold;
  color: #636363;
  margin-bottom: 10px;
  position: relative;

  .logoSmartPost {
    width: 20px;
    position: absolute;
    left: 0
  }

}

.postMessage {
  height: 68px;

  &Parrafo {
    font-weight: bold;
    font-size: 13px;
    padding-top: 10px;
    color: #636363;
    text-align: left;
    width: 100%;
    margin: 10px 0px;
    padding: 0;

  }

  &Hashtag {
    color: #CF3 !important;
  }

}

.posts{
  width: 100%;
  height: calc(100vh - 163px);
}

.postsContainer{
  width: 100%;
  height: 100%;
}

.postsContainerRow{
  display: flex;

  &::before{
    content: '';
    border: none;
    padding: 0;
    margin: 0 auto 0 0;
  }

  .postContainer{
    margin: 0 auto 0 0;
  }

}
.post-topContainer::after {
  content: "";
  display: table;
  clear: both;
}
