.followers-data {
  text-align: center;
  color: #CF3;
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: bold; }

.paises {
  text-align: center; }

.paisesMap {
  width: 90px;
  display: inline-block;
  margin: 5px; }
  .paisesMap img {
    width: 90px;
    cursor: pointer;
    height: 50px;
    object-fit: cover; }
