.placement-container__item {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left; }
  .placement-container__item--fb {
    background-color: #405e96; }
  .placement-container__item--instagram {
    background-color: #a7328b; }
  .placement-container__item--audience {
    background-color: #f79a3a; }
  .placement-container__item--comments {
    background-color: #405e96; }

.placement-container .total-activity__icon {
  width: 70px;
  height: 70px;
  margin: 0;
  margin-right: 20px; }
  .placement-container .total-activity__icon i {
    font-size: 30px; }

.placement-container .total-activity__text {
  text-align: left; }
  .placement-container .total-activity__text--data {
    font-size: 22px;
    color: #CF3;
    margin-top: 0; }
