.placement-container {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    &--fb {
      background-color: #405e96;
    }

    &--instagram {
      background-color: #a7328b;
    }

    &--audience {
      background-color: #f79a3a;
    }

    &--comments {
      background-color: #405e96;
    }

  }

  .total-activity__icon {
    width: 70px;
    height: 70px;
    margin: 0;
    margin-right: 20px;

    i {
      font-size: 30px;
    }
  }

  .total-activity__text {
    text-align: left;
    &--data {
      font-size: 22px;
      color: #CF3;
      margin-top: 0;
    }
  }
}
