.social-intelligence__container {
  > .grid > div {
    position: relative;
  }
}

.category-rank {
  width: 100%;
  display: inline-block;

  &__container {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  &__item {
    width: calc(50% - 10px);
    // width: 180px;
    height: 180px;
    float: left;
    background-color: #2A2A2A;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(odd) {
      margin-left: 0;
    }
    &:nth-child(even) {
      margin-right: 0;
    }

    &--title,
    &--rank {
      color: #CF3;
    }
    &--data {
      font-size: 2.3rem;
      font-weight: bold;
    }

    &-active {
      background-color: #CF3;
      color: #2A2A2A;
      .category-rank__item--title,
      .category-rank__item--rank {
        color: #2A2A2A;
      }

    }
  }
}

.category-post,
.category-data {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;

  .post {
    background-color: #363737;
    padding: 14px;
  }

}

.category-post {
  background-color: #2A2A2A;
  padding: 14px;
}

.category-data {
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;

  &__item {
    background-color: #2A2A2A;
    margin-bottom: 14px;
    padding: 19px;

    &:last-child {
      margin-bottom: 0;
    }

    &--data {
      font-size: 3rem;
      font-weight: bold;
    }

    &--title {
      color: #CF3;
    }
  }
}


.postMessageParrafo {
  font-weight: bold;
  font-size: 13px;
  padding-top: 10px;
  color: #636363;
  text-align: left;
  width: 100%;
  margin: 10px 0px;
  padding: 0;

  span {
    color: #CF3;
  }
}

.logo-smart__com {
  width: 83px;
}

.strategy {

  .postExtrasCategory {
    color: #CF3;
  }

  .postDate {
    margin-bottom: 46px;
    margin-top: 9px;
    p {
      margin-bottom: 0;
    }
  }
}

.postsSlider {

  .postExtras {
    width: calc(100% - 195px);
    padding-left: 0;
    height: 180px;
  }

  .swiper-button-next, .swiper-button-prev {
    top: auto;
    bottom: 15px;
    height: 17px;
    background-image: none;
    font-size: 18px;

  }

  .swiper-button-next {
    text-align: right;
  }

  .postImage {
    width: 180px;
    height: 180px;
  }

  .postMessage {
    height: 59px;
  }
}

.renderBest {
  .swiper-button-next, .swiper-button-prev {
    left: auto;
    right: calc(50% - 19px);
    height: 22px;
    background-image: none;
    font-size: 26px;
  }

  .swiper-button-next {
    top: auto;
    bottom: 0;
  }

  .swiper-button-prev {
    top: .8rem;
    bottom: auto;
  }
}

.swiperContainer {
  padding: 2rem 0;

  .category-rank__item {
    height: 150px;
  }
}
