body {
  width: 100%;
  height: 100%;
  background: #2A2A2A;
  margin: 0;
  min-height: 300px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;

}

.App {
  > .login { padding-top: 0; }
}

.home-spinner {
  text-align: center;
  height: calc(100vh - 80px);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.spinner-container {
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100vh - 165px)
}

.bp3-spinner-head {
  stroke: #CF3 !important;
  opacity: .4;
}

.hidden {
  display: none;
}

.no-pad-t-b {
  padding-top: 0;
  padding-bottom: 0;
}

.no-pad-l-f {
  padding-left: 0;
  padding-right: 0;
}

.no-pad-t {
  padding-top: 0;
}

.no-pad-b {
  padding-bottom: 0;
}

.no-pad-l {
  left: 0;
}

.no-pad {
  padding: 0;
}

.button-primary {
  background-color: #CF3 !important;
  color: #2A2A2A !important;
}

// Cards
.bp3-card {
  background: #363737 !important;
}

.bp3-dialog.bp3-dark,
.bp3-dark .bp3-dialog {
  background-color: #2A2A2A;
  border: 1px solid #CEFF33;
}

.bp3-table-container {
  margin-top: 1rem !important;
}

.bp3-dark {

  // Boton principal
  .bp3-button.bp3-minimal { background-color: #CF3; }

  .bp3-button.btn-outline {
    background-color: initial;
    border: 1px solid #545454;
    margin-left: 5px;
  }

  // Modal
  .bp3-dialog-header {
    background-color: #2a2a2a;
    box-shadow: none;
  }

  // Calendar

  .bp3-datepicker {
    background-color: #363737;
  }

  .bp3-menu {
    background-color: #363737;
  }


  // Selected range color


  // TABLE

  .bp3-table-quadrant,
  .bp3-table-column-headers,
  .bp3-table-row-headers,
  .bp3-table-menu,
  .bp3-table-cell-client {
    background-color: #363737;
   }

   //Table display cell fix
   .bp3-table-truncated-text {
     max-height: initial;
   }

   .bp3-table-cell-col-1 {
     text-align: right;

     .bp3-table-column-name {
       text-align: right;

     }
   }

   .bp3-table-column-headers {
     .bp3-table-header {

       padding: .5rem;

       .bp3-table-column-name-text {
         padding: 0;
         color: #CF3;
         font-size: 1rem;
        font-weight: bold;
       }
     }
   }


}

//Estilos en el calendario

.bp3-popover.bp3-dark , .bp3-dark .bp3-popover .bp3-popover-arrow-fill {
    fill: #363737 !important;
}

.bp3-daterangepicker .bp3-daterangepicker-shortcuts + .DayPicker {
  border-left: 0;
}

.bp3-popover.bp3-dark .bp3-popover-arrow-fill, .bp3-dark .bp3-popover .bp3-popover-arrow-fill {
  fill: #363737 !important;
}

.bp3-datepicker {

  .bp3-menu .bp3-menu-item{
    border: 1px solid #545454 !important;
    border-radius: 5px;
    color: #fff;
    white-space: nowrap;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

    > .bp3-fill {
      font-size: 13px;
    }
  }


  .bp3-datepicker-caption {
    border-bottom: 0;
  }

  .DayPicker-Day {

      padding: 0 9px;
      font-size: 14px;
      &--selected-range,
      &--hovered-range {
        background-color: rgba(204,255,51,.1) !important;
      }

      &--selected-range-start,
      &--hovered-range-start,
      &--selected-range-end,
      &--hovered-range-end,
      {
        background-color: #CF3 !important;
        color: #2A2A2A !important;
      }

    }

  .DayPicker-Day--disabled {
    text-decoration: line-through;
  }
}

.subtitle {
  text-align: center;
  border-bottom: 2px solid #CF3;
  line-height: 3;
  color: #636363;
  font-weight: bold;
  margin-bottom: 1.3rem;
  font-weight: 900;
  font-size: 17px;
  position: relative;

  &__no-border {
    border-bottom: none;
    line-height: 1
  }
}

.text-center {
  text-align: center;
}

.ReactVirtualized__Table{

  margin-top: 1rem;

  &__headerColumn {
    // border: 1px solid #4a4a4a;
    color: #CF3;
    font-size: 10px;
  }

  &__rowColumn {
    border: 1px solid #4a4a4a;
    margin: 0;
    padding: 5px 0;
    font-size: 11px;
    padding-left: 10px

  }
}

.input-modal .bp3-label,
.input-modal .bp3-alert-body {
  text-align: center;
}


.question-tooltip {
  cursor: pointer;
  background-color: #2a2a2a;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 1;
  top: 15px;
  right: 0;
  i {
    font-size: 12px;
  }

  &__left {
    right: auto;
    left: 0;
  }
}

.bp3-tooltip {
  .bp3-popover-content {
    background-color: #2a2a2a;
  }
}

.bp3-tooltip .bp3-popover-arrow-fill {
  fill: #2a2a2a;
}

.ReactVirtualized__Table__Grid::-webkit-scrollbar {
    -webkit-appearance: none;
}

.ReactVirtualized__Table__Grid::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid #363737; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.ReactVirtualized__Table__Grid::-webkit-scrollbar-track {
    background-color: #363737;
    border-radius: 8px;
}
