.table-bubble {
  margin-top: 12px;
  text-align: center; }
  .table-bubble__label {
    color: #CF3;
    margin-right: 6px; }
  .table-bubble .ReactVirtualized__Table__headerRow {
    display: none; }
  .table-bubble .ReactVirtualized__Table__rowColumn {
    padding-left: 0; }
