.table-bubble {

    margin-top: 12px;
    text-align: center;

    &__label {
      color: #CF3;
      margin-right: 6px;
    }

    .ReactVirtualized__Table__headerRow {
      display: none;
    }

    .ReactVirtualized__Table__rowColumn {
      padding-left: 0;
    }
}
