.reaction {
  display: flex;
  text-align: center; }
  .reaction__item {
    background-color: #CF3;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    overflow: hidden; }
    .reaction__item-positive {
      background-color: #CF3;
      border-right: 0;
      color: #363737; }
    .reaction__item-negative {
      background-color: #e2474f; }
    .reaction__item--data {
      font-size: 10px; }
