.reaction {
  display: flex;
  text-align: center;

  &__item {
    background-color: #CF3;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    overflow: hidden;

    &-positive {
      background-color: #CF3;
      border-right: 0;
      color: #363737;
    }
    &-negative {
      background-color: #e2474f;
    }

    &--data {
      font-size: 10px;
    }
  }
}
