.searchContainer {
  float: right;

  .dateSmart {
    text-align: right;

    .fa-calendar-alt {
      color: #2A2A2A;
      font-size: 1.3rem;
    }
  }

  .searchCalendarIcon {
    width: auto;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: #cf3;
    padding: 4px 8px;
  }

}

.dateSmart {
  .bp3-input-group {
    width: 120px;
  }
}
