.search-container {
  float: right; }
  .search-container .date-smart {
    text-align: right; }
    .search-container .date-smart .fa-calendar-alt {
      color: #2A2A2A;
      font-size: 1.3rem; }
  .search-container .search-calendar__icon {
    width: auto;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: #cf3;
    padding: 4px 8px; }

.date-smart .bp3-input-group {
  width: 120px; }
