.best-competitor__image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;

  img {
  width: 100%
  }

}

.best-competitor-image-holder {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.placeholderAd {
  display: flex;
  align-items: center;
  background-color: #2b2b2b;

  &-image {
    width: 100%
  }
}

.best-competitor {
  .bestpostContainer {
    width: 33.3%
  }
}
