.paginas-fb {
  text-align: center;
  padding: 1rem 0; }
  .paginas-fb__elemento {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin: 1.3% 2.5%; }
    .paginas-fb__elemento img {
      width: 100%;
      border: 1px solid #2a2a2a;
      -webkit-transition: border 500ms ease-out;
      -moz-transition: border 500ms ease-out;
      -o-transition: border 500ms ease-out; }

.AgregarMarca__titulo {
  font-size: 18px;
  font-weight: bold; }

.AgregarMarca__boton--seleccionado {
  color: #CF3 !important; }
  .AgregarMarca__boton--seleccionado img {
    border: 1px solid #CF3; }
