@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// .bp3-overlay-open {
//   -webkit-animation-name: fadeInLeft;
//   animation-name: fadeInLeft;
// }

// .bp3-overlay-open  {
//     transition: all .3s ease;
//     -webkit-animation-duration: .3s;
//     animation-duration: .3s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
// }
