.menu {
  width: 70px;
  min-width: 70px;
  float: left;
  position: fixed;
  top: 83px;
  background: #CF3;
  height: 100%;
  min-height: 600px;
  text-align: center;
  padding: 0;
  z-index: 10; }
  .menu li {
    padding: 0;
    position: relative; }
    .menu li hr {
      border: 0;
      border-top: 1px dashed #000; }
  .menuItem {
    padding: 0;
    position: relative; }
    .menuItem:hover .menuItemOnHover {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
      transition-delay: .1s; }
    .menuItemOnHover {
      position: absolute;
      display: table;
      width: auto;
      height: 100%;
      left: 70px;
      top: 0;
      background-color: #CF3;
      padding: .5rem .8rem;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: .9rem;
      text-align: left;
      color: #333;
      transition: all .3s ease;
      animation-duration: .3s;
      animation-fill-mode: both;
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); }
    .menuItem i {
      width: 100%;
      font-size: 1.3rem;
      padding: .5rem 0;
      margin-right: 0;
      color: #333;
      display: block;
      position: relative;
      z-index: 9;
      background-color: #CF3;
      cursor: pointer; }
    .menuItemAll {
      font-size: 1rem !important;
      font-style: normal; }
    .menuItem .bp3-icon {
      display: none; }

.selectedItem {
  color: #fff !important;
  background-color: #2A2A2A !important; }
