.sidebar-shell {
  height: 100%;
}

.sidebar__controller {
  background-color: #363737;
  z-index: 12 !important;
  padding: 0 16px;
  height: calc(100% -35px);
  border-left: solid 2px #cf3;
  width: 300px;
}

.sidebar__overlay {
  z-index: 11 !important;
}

.sidebar {

  height: -webkit-calc(100% - 35px);
  height: calc(100% - 35px);
  top: 0px;
  overflow: auto;
  padding-bottom: 10px;

  &-avatar {
    width: 56px;
    height: 56px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    + img {
      margin-left: 6px;
    }
  }

  &-title {
    text-align: center;
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: lighter;
    border-bottom: 2px solid #cf3;
    margin-top: 15px;
    padding: 0px;
    padding-bottom: 10px;

    &__left {
      text-align: left;
    }

  }

  &-accounts,
  &-brands {
    text-align: center;
  }

  &-navegation {
    //
    &__list {

      padding: 0 1rem;
      margin: 1.3rem 0;

      &--item {
        color: #CF3;
        font-weight: lighter;
        text-transform: uppercase;
        font-size: 11px;
        border-bottom: 1px solid #2a2a2a;
        margin: 3px 0;
        padding: 6px 0 !important;

        a {
          color: #CF3;
          font-weight: lighter;
          text-transform: uppercase;
          font-size: 11px;
        }

        i {
          color: #767676;
          margin-right: 10px;
          width: 14px;
        }
      }
    }
  }

  &-categories {
    .bp3-tag {
      background: #2A2A2A;
      color: #b3b3b3;
      font-weight: lighter;
      padding: 5px;
      border-radius: 7px;
      margin: 5px 2.5px;
      border: solid 1px #cf3;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

      .bp3-icon {
        width: 13px;



        path {
          fill: #b3b3b3;
        }
      }

    }
    }

    .bp3-button {

      .bp3-icon path { fill: #fff; }

      &:hover {
        background: none;

        .bp3-icon path { fill: #CF3; }
      }

    }

  &-optimalPosts {

    .bp3-form-group {

      margin-bottom: 6px;

      label {
        width: 5rem;
        color: #767676;
      }
    }

    .bp3-input-group {
      width: 3.5rem;

      .bp3-input {
        border: 1px solid #CF3;
        background: #4f4f4f;
        color: #fff;
        text-align: center;
        font-weight: lighter;
      }
    }

  }

  &-controls {
    // position: fixed;
    // bottom: 0;
  }

  .button {
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    padding: 6px 16px;
    min-height: 25px;

    &__save {
      margin-left: 5.5rem;
      padding: 6px 18px;
    }

    &__edit {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    + .button {
      margin-left: 10px
    }

  }
}

.sidebar-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 2px solid #fff;
    height: 35px;
    margin-left: -16px;

    &__btn {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      border-right: 2px solid #fff;
      text-align: center;
      height: 35px;
      padding: 9px 0;

      &:last-child {
        border-right: 0;
      }

      a {
        color: #fff;

        &:hover {
          text-decoration: none;
        }
      }
    }

}

.bp3-tag .bp3-button {
  padding: 0;
  margin: 0;
  min-height: 13px;
}

.industrySettingsDialog {
  width: 90%;

  .subtitle {
    font-size: 14px;
  }

  .bp3-label {
    color: #636363 !important;
    font-size: 12px;
  }

  .bp3-input {
    color: #636363;
  }


}
