.bestPost-shell {
  flex-wrap: nowrap;
  display: flex;
  overflow: hidden;
  padding-bottom: 16px; }

.bestPost-shell:hover {
  overflow-x: scroll;
  padding-bottom: 0; }

.bestPost-shell::-webkit-scrollbar {
  -webkit-appearance: none; }

.bestPost-shell::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid #363737;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5); }

.bestPost-shell::-webkit-scrollbar-track {
  background-color: #363737;
  border-radius: 8px; }

.bestPost-container {
  width: 225px;
  min-width: 225px;
  display: inline-block;
  vertical-align: top;
  border: 10px solid #2b2b2b;
  margin: 5px;
  background: #363737;
  padding: 5px;
  position: relative;
  height: 353px; }

.bestPost {
  padding: 5px;
  display: inline-block;
  text-align: left; }
  .bestPost-image {
    width: 100%;
    height: 185px; }
  .bestPost .post-message {
    margin-top: 6px;
    font-size: 11px;
    height: 45px;
    text-align: justify; }
  .bestPost .postMessageParrafo {
    font-size: 12px; }
  .bestPost .post-date {
    position: absolute;
    text-align: center;
    bottom: 0;
    font-size: 12px;
    width: calc(100% - 20px); }
    .bestPost .post-date img {
      position: static; }
