

.topicData{

  &-shell {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  &-item {
    background: #2b2b2b;
    padding: 5px;
    height: 350px;
    // width: 300px;

    &__addIcon {
      font-size: 50px !important;
      color: #cf3;
    }

    &__last > div {
      text-align: center;
      cursor: pointer;
    }
  }

}
.topic-item {

  &__title,
  &__count {
    height: 20px;
    text-align: left;
    margin: 3px;
    font-weight: 100;
    font-size: 20px;
    color: #636363;
  }

  &__count {
    font-size: 14px;
  }

  &__word {
    height: 28px;
    margin-top: 13px;

    .bp3-icon {
      cursor: pointer;

      path {
        fill: #CF3;
      }

    }

    .bp3-icon:hover path {
      fill: #fff;
    }
  }

  &__input {
      border: none;
      background: #363737;
      color: #fff;
      text-align: center;
      font-weight: lighter;
      height: 28px;
  }

  &__list {
    padding: 0;

    &--item {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      color: #5d5c5c;
      font-weight: 400;
      padding: 11px 0px;
      border-bottom: 1px solid #5d5c5c;
      position: relative;
    }

    &--name,
    &--total,
    &--delete {
        flex: 2;
        text-align: right;
    }

    &--name {
      text-align: left;
    }

    &--delete i {
      font-size: 18px;
      color: #e63636;
      cursor: pointer;
    }
  }

}

.dialog-add__error {
  font-size: 10px;
  color: #cf3;
  text-align: center;
}
