.total-activity {

  display: flex;
  align-items: center;
  height: calc(100% - 70px);
  justify-content: center;

  //
  &__item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 50%;
    padding: 1.5rem 0;

    &--impressions {
      .total-activity__icon {
        color: #363737;
      }
    }

    &--engagement {
      .total-activity__icon {
        background-color: #69ade1;
      }
    }

    &--posts {
      .total-activity__icon {
        background-color: #f79a3a;

        i { font-size: 38px }
      }
    }

    &--video {
      .total-activity__icon {
        background-color: #ea5f61;

        i { font-size: 38px }
      }
    }
  }

  &__icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: #fff;
    background-color: #CF3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    i {
      font-size: 45px;

      &.fa-edit {
        margin-left: 10px;
      }
    }
  }

  &__text {
    h2 {
      color: #fff;
      font-weight: bold;
      margin-bottom: 0;
      font-size: 37px;
      margin-top: 10px;
    }

    &--name {
      color: #636363;
      font-weight: 700;
      font-size: 14px;
      margin: 5px;
    }

  }



}
