.total-activity {
  display: flex;
  align-items: center;
  height: calc(100% - 70px);
  justify-content: center; }
  .total-activity__item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 50%;
    padding: 1.5rem 0; }
    .total-activity__item--impressions .total-activity__icon {
      color: #363737; }
    .total-activity__item--engagement .total-activity__icon {
      background-color: #69ade1; }
    .total-activity__item--posts .total-activity__icon {
      background-color: #f79a3a; }
      .total-activity__item--posts .total-activity__icon i {
        font-size: 38px; }
    .total-activity__item--video .total-activity__icon {
      background-color: #ea5f61; }
      .total-activity__item--video .total-activity__icon i {
        font-size: 38px; }
  .total-activity__icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: #fff;
    background-color: #CF3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
    .total-activity__icon i {
      font-size: 45px; }
      .total-activity__icon i.fa-edit {
        margin-left: 10px; }
  .total-activity__text h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 37px;
    margin-top: 10px; }
  .total-activity__text--name {
    color: #636363;
    font-weight: 700;
    font-size: 14px;
    margin: 5px; }
