.calendarShell {
  margin-top: 80px;
  position: relative; }

.rbc-btn-group {
  display: none; }

.rbc-btn-group:first-child {
  display: inline-block;
  position: absolute; }

.rbc-btn-group:first-child button:first-child {
  display: none; }

.rbc-btn-group:first-child button:nth-child(3) {
  margin-left: 13rem; }

.rbc-day-bg {
  border: 1px solid #CF3; }

.rbc-off-range {
  color: transparent; }

.rbc-off-range-bg {
  border-color: #848484 !important;
  background: transparent; }

.rbc-header {
  border: 0 !important; }

.rbc-month-view {
  border: 0; }

.rbc-month-row + .rbc-month-row {
  border-top: 0; }

.rbc-day-bg + .rbc-day-bg {
  border-left: 0; }

.rbc-today {
  background-color: transparent; }

.rbc-toolbar {
  margin-top: 45px;
  margin-bottom: 45px; }

.calendarControls {
  position: absolute;
  right: 18px;
  top: 40px; }

.calendarPosts {
  width: 850px;
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important; }
  .calendarPosts .bp3-card {
    border: 1px solid #CEFF33; }

.calendarPostsConfig .searchCalendarIcon {
  width: 100%;
  height: 100%;
  background: #CF3;
  display: block;
  padding: 9px;
  color: #636363; }
  .calendarPostsConfig .searchCalendarIcon i {
    font-size: 15px; }

.calendarPostsConfig .bp3-input {
  padding-right: 10px;
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #636363;
  font-size: 15px; }

.calendarPostsConfig .bp3-input-group {
  padding: 4px 0; }

.calendarPostsImages {
  height: 100px;
  padding: 5px; }
  .calendarPostsImages .providerInfo {
    width: 90px;
    height: 90px;
    float: left;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px; }
    .calendarPostsImages .providerInfo i {
      font-size: 40px; }
    .calendarPostsImages .providerInfo p {
      font-size: 8px;
      line-height: normal;
      width: 100%;
      margin-bottom: 0; }
  .calendarPostsImages .fileInput {
    width: calc(100% - 90px);
    height: 100%;
    float: left; }
    .calendarPostsImages .fileInput .bp3-file-input {
      height: 100%;
      width: 100%; }
    .calendarPostsImages .fileInput .bp3-file-upload-input {
      height: 100%;
      border: 1px solid #cf3;
      border-style: dashed;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: bold; }
      .calendarPostsImages .fileInput .bp3-file-upload-input::after {
        content: 'T';
        font-family: 'Tinos', serif !important;
        content: 'T';
        height: 100%;
        margin-top: 0px;
        line-height: 4.4;
        background: #CF3;
        color: #363737;
        font-size: 20px;
        border-radius: 0;
        margin-right: 0px; }

.calendarPosts .calendarInput {
  width: 100%;
  height: 67px;
  border: 1px solid #cf3;
  border-left: none;
  border-right: none;
  position: relative; }
  .calendarPosts .calendarInput .calendarCopyTextArea {
    border: none;
    background: transparent;
    color: #cf3;
    resize: none;
    padding: 3px;
    font-size: 10px;
    line-height: 1;
    padding-bottom: 15px;
    box-shadow: none;
    height: 100%; }
  .calendarPosts .calendarInput .calendarCopywords {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 5px;
    font-size: 11px;
    color: #cf3;
    line-height: 0;
    height: 12px;
    margin-bottom: 3px; }

.calendarComments .calendarInput {
  border-top: 0; }
