.bestPaidPost-shell {
  flex-wrap: nowrap;
  display: flex;
  overflow: hidden;
  padding-bottom: 16px;
}

.bestPaidPost-shell:hover {
  overflow-x: scroll;
  padding-bottom: 0;
}

.bestPaidPost-shell::-webkit-scrollbar {
    -webkit-appearance: none;
}

.bestPaidPost-shell::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid #363737; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.bestPaidPost-shell::-webkit-scrollbar-track {
    background-color: #363737;
    border-radius: 8px;
}
