.mainLogin {
  background-color: gray;
  background: url(../../assets/img/loginback.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center; }
  .mainLoginLogo {
    text-align: center; }
  .mainLogin .powered {
    margin-top: 10px;
    font-size: 12px; }

.loginButton {
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent;
  padding: 5px;
  color: #fff;
  cursor: pointer; }
  .loginButtonTxt {
    margin: 0 10px;
    position: relative;
    top: -10px; }

.login {
  overflow: hidden; }
