.marca-lista {
  margin: 20px auto;
  text-align: center;
  display: block;
  max-width: 1350px; }
  .marca-lista__item {
    background: #363737;
    padding: 12px 28px;
    display: inline-block;
    margin: 10px;
    width: 400px;
    text-align: center; }
    .marca-lista__item .bp3-heading {
      font-size: 20px;
      font-weight: 100;
      width: 100%;
      display: block;
      text-align: center; }
  .marca-lista__redes > div {
    display: inline-block;
    padding: 15px 8px;
    max-width: 112px; }

.marca-redes__usuario {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.marca-redes__avatar--logged {
  position: relative; }
  .marca-redes__avatar--logged .brand-icons__icon {
    width: 20px;
    height: 20px;
    border: 2px solid #CF3;
    border-radius: 50%;
    position: absolute;
    background-color: #2A2A2A;
    font-size: 10px; }
    .marca-redes__avatar--logged .brand-icons__icon::before {
      position: relative;
      top: 3px; }
  .marca-redes__avatar--logged .brand-icons .fa-trash-alt {
    left: 0;
    bottom: 8px; }
  .marca-redes__avatar--logged .brand-icons .fa-pencil-alt {
    right: 0;
    bottom: 8px; }
  .marca-redes__avatar--logged .brand-icons .fa-twitter {
    right: 0;
    top: 8px;
    background-color: #00b0e6; }
  .marca-redes__avatar--logged .brand-icons .fa-instagram {
    right: 0;
    top: 8px; }
  .marca-redes__avatar--logged .brand-icons .fa-trash-alt {
    left: 0;
    bottom: 8px; }
    .marca-redes__avatar--logged .brand-icons .fa-trash-alt::before {
      position: relative;
      top: 3px; }

.marca-actions__erase {
  float: left; }

.marca-actions__start {
  float: right; }

.bp3-card {
  cursor: default !important; }

.logos-circle {
  border-radius: 50%;
  width: 80px;
  border: 2px solid #CEFF33; }
