.marcaLista {
  margin: 20px auto;
  text-align: center;
  display: block;
  max-width: 1350px; }
  .marcaListaItem {
    background: #363737;
    padding: 12px 28px;
    display: inline-block;
    margin: 10px;
    width: 400px;
    text-align: center; }
    .marcaListaItem .bp3-heading {
      font-size: 20px;
      font-weight: 100;
      width: 100%;
      display: block;
      text-align: center; }
  .marcaListaRedes > div {
    display: inline-block;
    padding: 15px 8px;
    max-width: 112px; }

.marcaRedesUsuario {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.marcaRedesAvatarLogged {
  position: relative; }
  .marcaRedesAvatarLogged .brandIconsIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #CF3;
    border-radius: 50%;
    position: absolute;
    background-color: #2A2A2A;
    font-size: 10px; }
    .marcaRedesAvatarLogged .brandIconsIcon::before {
      position: relative;
      top: 3px; }
  .marcaRedesAvatarLogged .brandIcons .fa-trash-alt {
    left: 0;
    bottom: 8px; }
  .marcaRedesAvatarLogged .brandIcons .fa-pencil-alt {
    right: 0;
    bottom: 8px; }
  .marcaRedesAvatarLogged .brandIcons .fa-twitter {
    right: 0;
    top: 8px;
    background-color: #00b0e6; }
  .marcaRedesAvatarLogged .brandIcons .fa-instagram {
    right: 0;
    top: 8px; }
  .marcaRedesAvatarLogged .brandIcons .fa-trash-alt {
    left: 0;
    bottom: 8px; }
    .marcaRedesAvatarLogged .brandIcons .fa-trash-alt::before {
      position: relative;
      top: 3px; }

.marcaActionsErase {
  float: left; }

.marcaActionsStart {
  float: right; }

.bp3-card {
  cursor: default !important; }

.logosCircle {
  border-radius: 50%;
  width: 80px;
  border: 2px solid #CEFF33; }
