.gender {
  display: flex;
  text-align: center;
  margin-bottom: 1.3rem; }
  .gender__item {
    background-color: #CF3;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    overflow: hidden; }
    .gender__item-female {
      background-color: #ff8bd8;
      border-right: 0; }
    .gender__item-male {
      background-color: #5ebaeb; }
    .gender__item--data {
      font-size: 10px; }
