.gender {
  display: flex;
  text-align: center;
  margin-bottom: 1.3rem;

  &__item {
    background-color: #CF3;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    overflow: hidden;

    &-female {
      background-color: #ff8bd8;
      border-right: 0;
    }
    &-male {
      background-color: #5ebaeb;
    }

    &--data {
      font-size: 10px;
    }

  }
}
