.postMessageParrafo {
  font-weight: bold;
  font-size: 13px;
  padding-top: 10px;
  color: #636363;
  text-align: left;
  width: 100%;
  margin: 10px 0px;
  padding: 0; }
  .postMessageParrafo span {
    color: #CF3; }
