.paginas-fb {
  text-align: center;
  padding: 1rem 0;

  &__elemento {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin: 1.3% 2.5%;

    img {
      width: 100%;
      border: 1px solid #2a2a2a;
      -webkit-transition : border 500ms ease-out;
       -moz-transition : border 500ms ease-out;
       -o-transition : border 500ms ease-out;
     }
  }
}

.AgregarMarca
{
  &__titulo
  {
    font-size: 18px;
    font-weight: bold;
  }

  &__boton--seleccionado {
    color: #CF3 !important;

    img {
      border: 1px solid #CF3;
    }
  }
}
